language: node_js
node_js:
  'stable'

addons:
  sonarcloud:
    organization: "papaya" # the key of the org you chose at step #3

cache:
  directories:
    - '$HOME/.sonar/cache'
    - "$HOME/.npm"

env:
  - SALT=$2b$10$vsxz0Ld.zLy6MvmM8b4tRenrWSh.dl4xNHHeevmBI.ndpoC0hAreq MONGO_HOST=mongodb://localhost:27017/lasolana

jobs:
  include:
    - stage: "Compile"
      script: npm ci

    - stage: "Test"
      script: npm run test
      
    - stage: "Quality gate"
      script: sonar-scanner


notifications:
  email: false
  on_success: change
  on_failure: always