language: node_js
node_js: stable
cache:
  directories:
  - "$HOME/.sonar/cache"
  - "$HOME/.npm"
jobs:
  include:
  - stage: Compile
    script: npm ci
  - stage: Test
    script: npm run test
  - stage: SonarQube
    addons:
      sonarcloud:
        organization: papaya
    script: sonar-scanner
deploy:
  provider: heroku
  api_key:
    secure: LFc7YrkDB+Sxxk2LFJCTTIW65kRxA4K6Djcmmf+H1HKE3k8I20SHj9gdbqYb9SPbnIo9KHthWd4PttvjrcrV1p1uFhkzck6XFYxv4KRUgYuGB6ZqPFLC4ZEYPnziaoXzVnGIN0qpLzrwcmvoW5n6HY2AMiHFd3vl2JxO9OADwQbZNPJl30GokcYwSwpXOZlBFGHQX5M/5Z+wN6RKF+v4FSwgJB+82ADQHpY3C0f8url9CmoA1c5YcA71T31mZFbogwoCi6TaQ1PDkKgF0gnCqFmsLa5+JrSd9Kh51pJw+5ZgVP1A5m+JLWUsYSckGVhM1U/qe9V1gZFghUdo+MW5lyNQLmSfQ8R/uOOK6VFyzuNhwIw83Zke+AC7BH5pTjKJ9DoP+A75JtDRUmYqwj7id7lyZhfm456RBhTsJ+/v0LJ+DjitNO97vrCv7fon1Qyg+3WBPa3DS8+SDyAA2HMws4wByS9iZalsATIJlYStiubF1yTAIzCECMs30yh4BHKEXMDoBATy52lmoWNDKxQKu/ldLU5NsVDUnPVDqYTCKOPzW7fruvIEDznQbK59mG2CP75BlBfnVWskfn5eKoUQV8P0olz1qIEUTZknFEeLaeALOSvPqM0IDTjiU1eisJo+fwXYiME5bd4x/XGXT2FPs4tFL4omPjejaJr6FWw86C8=
  on: development
notifications:
  email: false
  on_success: change
  on_failure: always
