language: node_js
node_js: stable
cache:
  directories:
  - "$HOME/.sonar/cache"
  - "$HOME/.npm"
jobs:
  include:
  - stage: Compile
    script: npm ci
  - stage: Mocha/Chai Tests
    script: npm run test
  - stage: Check Code Lint
    script: npm run lint
  - stage: Check Quality Gate
    addons:
      sonarcloud:
        organization: papaya
    script: sonar-scanner
deploy:
  provider: heroku
  api_key:
    secure: Fuxsi7ThsQxC3LedFKbDnHjBWjpuHhrBFjKTbr1GpKmReV/RRmEyq+ZEygAN58tv8EwIE7wm73S5Pqnq0bP9EZIFaHbIuEIXh2RUHlkA/jBVicH4xR7foHr278FGGOF+5ddeQRhwoMenbzjNu1iFIBMaD1mhlGJ4SYH8bJlRvU/MK8VGXhnBZ/cH+pPndqZVcMbkZHR1CsY7cx/YlWTn6HuKYy1zJcGNrdksMfMChIU0df6h+hD7fdcPoBQlQ3KPdqFfdJ4Msdp5i9DIxwZQS3rpZ2fi4m9a4HzSU9sXJp2oTNsbJs9SNQZ910sUvJoJnmLRR6wVGai0IopnTx27X05zyNe0g7uv22TrSkDDvrE4UAPaAy2GK9SutdH4v5LFOKP1S+HTD0ZkaOSeVsRI+Xn532+J4YXECaQZ+IRa1XtypU4dbK1qyO47HmYjTv00CglUPJFxpHIJPEoczMpGBSfxAwy0yJdSJzZnky+1OWJUlP5meEo+7DZMW04EaNl2UoPNyE5YN8/LyevjQWgKY3AWwCVERkxICcFWa+VIhoxnJwTuIrHR0nyDcQbNHV6jSxx98ceA5UPmW4j1Vo2ttgi7zvErb5Nd0RxY5eWzJZGltk6Trp4bO4TawdUl3HB30ltT5G+3Xlju7+87ePdtCVUgDlocjls6mfxquk4Jp5w=
  app: papaya-server
  on:
    repo: ghanizadev/papaya-backend
notifications:
  email: false
  on_success: change
  on_failure: always
